<div class="col-md-12 col-xs-8">
	<h1>María José Пасшћцуан</h1>
	<p>(Se pronuncia Paskuvan)</p>
<a href="http://localhost:3000/dashboards/two" class="btn btn-success"><p>Visita a la siguiente página</p></a>

</div>