<div class="col-md-12 col-xs-12">
	<h1>Ascendencia Croata</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aut cum doloribus, voluptatum fugit numquam distinctio beatae cupiditate possimus sint ex animi labore minima similique tempora itaque! Voluptatibus, iste quae.</p>
<a href="http://localhost:3000/dashboards/one" class="btn btn-success"><p>Visita a la página principal</p></a>
<a href="http://localhost:3000/dashboards/two" class="btn btn-danger"><p>Visita a la página anterior</p></a>
</div>